<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trang chủ</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-storage.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
    <script src="/js/main.js"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body id="body-pd">
    <header class="header" id="header">
        <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
        <div class="header_img"> <img src="https://i.imgur.com/hczKIze.jpg" alt=""> </div>
    </header>
    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div> <a href="/" class="nav_logo"> <i class='bx bx-layer nav_logo-icon'></i> <span class="nav_logo-name">E-WALLET</span> </a>
                <div class="nav_list">
                    <a href="/" class="nav_link active"> <i class='bx bx-grid-alt nav_icon'></i> <span class="nav_name">Trang chủ</span> </a> 
                    <a href="/profile" class="nav_link"> <i class='bx bx-user nav_icon'></i> <span class="nav_name">Trang cá nhân</span> </a> 
                    <a href="/naptien" class="nav_link"> <i class='bx bx-message-square-detail nav_icon'></i> <span class="nav_name">Nạp tiền</span> </a> 
                    <a href="/ruttien" class="nav_link"> <i class='bx bx-bookmark nav_icon'></i> <span class="nav_name">Rút tiền</span> </a> 
                    <a href="/chuyentien" class="nav_link"> <i class='bx bx-folder nav_icon'></i> <span class="nav_name">Chuyển tiền</span> </a> 
                    <a href="/muacard" class="nav_link"> <i class='bx bx-bar-chart-alt-2 nav_icon'></i> <span class="nav_name">Mua thẻ cào</span> </a> 
                </div>
            </div>
            <a class="nav_link signout_cursor" onclick="logout()"> <i class='bx bx-log-out nav_icon'></i> <span class="nav_name">SignOut</span> </a>
        </nav>
    </div>
    <!--Container Main start-->
    <div class="height-100 bg-light">
        <div class="container">
            <div class="d-sm-flex justify-content-between">
                <h4 class="text-primary mt-4">Lịch sử giao dịch</h4>
            </div>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">LOẠI GIAO DỊCH</th>
                    <th scope="col">THỜI GIAN</th>
                    <th scope="col">SỐ TIỀN</th>
                    <th scope="col">PHÍ</th>
                    <th scope="col">THÔNG TIN</th>
                    <th scope="col">GHI CHÚ</th>
                    <th scope="col">TRẠNG THÁI</th>
                  </tr>
                </thead>
                <tbody>
                    <% Object.entries(history).forEach(e => { %>
                        <% const [key, value] = e %>
                        <tr class="table-primary">
                            <th scope="row"><%= key %></th>
                            <td>
                                <%if(value.typeTransaction === 1){ %>
                                    Nạp tiền
                                <%} else if(value.typeTransaction === 2){ %>
                                    Rút tiền
                                <%} else if(value.typeTransaction === 3){ %>
                                    Chuyển tiền
                                <%} else if(value.typeTransaction === 4){ %>
                                    Nhận tiền
                                <%} else{ %>
                                    Mua thẻ
                                <% } %>
                            </td>
                            <td><%= value.dateTime.toLocaleDateString() %></td>
                            <td><%= value.money %> đ</td>
                            <td><%= value.fee %> đ</td>
                            <td>
                                <% (value.code).forEach(e=>{ %>
                                    <span>Mã thẻ: <%= e %></span></br>
                                <%})%>
                            </td>
                            <td><%= value.note %></td>
                            <td >
                                <% if(value.statusTransaction === 1){ %>
                                    <span class="badge bg-success "> Thành công</span>
                                <%} else if(value.statusTransaction === 2){ %>
                                    <span class="badge bg-warning "> Chờ duyệt</span>
                                <%} else{ %>
                                    <span class="badge bg-danger "> Hủy</span>
                                <%}%>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
    <!--Container Main end-->
</body>

</html>